body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 5px;
    border: 2px solid black;
    background-color: blue;
    padding: 5px;
}

.cell {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.cell:hover {
    background-color: #FF851B;
}

.red-piece{
    background-color: red;
}

.yellow-piece{
    background-color: yellow;
}

#message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Styling for buttons */
button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

/* Styling for the always visible Return Home button */
#alwaysReturnHomeButton {
    background-color: #f44336; /* Red */
}

#alwaysReturnHomeButton:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

/* Styling for the always visible Return Home button container */
#returnHomeContainer {
    position: absolute;
    bottom: 50px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

#waitingMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 9999; /* Ensure it's above other elements */
    display: none; /* Initially hidden */
}